
 body {
    background-color: white;
}
h1 {
    color: red;
}
p {
    color: red;
}
.menu button{
    display: block; /* Make the buttons appear below each other */
}

.menu button:hover{
	background-color: #c9ddff;
}

.profile_frame{
	width: 50%;
}
